<?php
/**
 * Local Configuration Override
 *
 * This configuration override file is for overriding environment-specific and
 * security-sensitive configuration information. Copy this file without the
 * .dist extension at the end and populate values as needed.
 *
 * @NOTE: This file is ignored from Git by default with the .gitignore included
 * in ZendSkeletonApplication. This is a good practice, as it prevents sensitive
 * credentials from accidentally being committed into version control.
 */
return [
    'doctrine' => [
        'connection' => [
            'orm_default' => [
                'driverClass' => 'Doctrine\DBAL\Driver\PDOMySql\Driver',
                'params' => [
                    'host' => 'localhost',
                    'port' => '3306',
                    'user' => 'USERNAME',
                    'password' => 'PASSWORD',
                    'dbname' => 'DATABASE',
                ],
            ],
        ],
    ],
    'NightsWatch' => [
        'mumble' => [
            'server' => 'SERVER',
            'port' => 'PORT',
            'recruitToken' => 'TOKEN',
            'privateToken' => 'TOKEN',
        ],
        'shotbow' => [
            'clientId' => 'CHANGEME',
            'clientSecret' => 'CHANGEME',
        ],
        'discord' => [
            'clientId' => 'CHANGEME',
            'clientSecret' => 'CHANGEME',
            'accessToken' => 'CHANGEME', // Bot Access Token
            'webhooks' => [
                'accord' => '',
                \NightsWatch\Entity\User::RANK_CIVILIAN => '',
                \NightsWatch\Entity\User::RANK_RECRUIT => '',
                \NightsWatch\Entity\User::RANK_PRIVATE => '',
                \NightsWatch\Entity\User::RANK_CORPORAL => '',
                \NightsWatch\Entity\User::RANK_CAPTAIN => '',
                \NightsWatch\Entity\User::RANK_LIEUTENANT => '',
                \NightsWatch\Entity\User::RANK_GENERAL => '',
            ],
        ],
        'secureChat' => true,
        'mod' => 'LINKTOMOD',
    ],
];
